.main {
  margin: auto;
  max-width: 1500px;
  min-height: 100vh;
}

.header,
.footer {
  padding: 1rem 8vw;
  background-color: var(--color-three);
  color: var(--color-white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.header a:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--color-four);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

.header a:nth-child(2):hover {
  background-color: var(--color-two);
}

.footer {
  text-align: center;
  margin-top: 5rem;
}

.footer a {
  font-size: 1.2rem;
  transition: all 0.2s ease-out;
}

.footer a:hover {
  color: var(--color-four);
}

@media only screen and (max-width: 1600px) {
  .main {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 1300px) {
  .main {
    max-width: 100%;
    padding: 0rem 3rem;
  }
  .header {
    padding: 1rem 3rem;
  }

  .footer {
    padding: 1rem 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .header a:nth-child(2) {
    font-size: 1rem;
  }

  .header h1 {
    font-size: 2rem;
  }

  .header {
    flex-direction: column;
    justify-content: center;
  }

  .main {
    padding: 0rem 2rem;
  }
}
